<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="app.js"></script>

  </head>
  <body ng-controller="TodoController as Ctrl">
    <h1>Todo App</h1>
    <p>Add a Todo:</p>
    <p><input type="text" ng-model="Ctrl.listElement"></p>
    <button ng-click="Ctrl.addToList()">Add</button>
    <p>Your Todos:</p>
    <button ng-bind="Ctrl.editButtonText" ng-click="Ctrl.editButton()"></button>

    <ol>
      <li ng-repeat="element in Ctrl.toDoList track by $index">
        <span ng-bind="element" ng-show="Ctrl.showList"></span>
        <input ng-model="element" ng-hide="Ctrl.showList">
        <button ng-click="Ctrl.deleteListElement($index)" ng-show="Ctrl.showList">Delete</button>
      </li>
    </ol>
    <ol>
      <li ng-repeat="element in Ctrl.newList track by $index">
        <span ng-bind="element"></span>
        </li>
    </ol>


  </body>
</html>
